<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="knightsoul.SpaceKittens">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Space Kittens"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="knightsoul.SpaceKittens.Title"
            android:screenOrientation="sensorLandscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="knightsoul.SpaceKittens.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name="knightsoul.SpaceKittens.Pop"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name="knightsoul.SpaceKittens.PopFail"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name="knightsoul.SpaceKittens.levelpack1"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="knightsoul.SpaceKittens.level_selection"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="knightsoul.SpaceKittens.levelpack2"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="knightsoul.SpaceKittens.themes_selection"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="knightsoul.SpaceKittens.levelpack3"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="knightsoul.SpaceKittens.instructions"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name="knightsoul.SpaceKittens.Main2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>